* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  color: #111827;
}

.app-layout {
  display: flex;
}

.sidebar {
  width: 75px;
  height: 100vh;
  background: #0f172a;

  position: fixed;
  left: 0;
  top: 0;

  overflow: hidden;

  transition: width 0.3s ease;

  display: flex;
  flex-direction: column;

  padding-top: 20px;

  z-index: 1000;
}

.sidebar:hover {
  width: 260px;
}

.sidebar a {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 14px;

  padding: 16px 22px;

  white-space: nowrap;

  transition: background 0.2s ease;
}

.sidebar a:hover {
  background: rgba(255,255,255,0.1);
}

.sidebar span {
}